<div class="row">
    <div class="row">
        <div class="col s12">
            <form class="form">
                <div class="msgcontent col s12">
                    
                </div>
                <input class="input chat-input col s11" autofocus>
                <button class="btn-floating waves-effect waves-light deep-purple" type="submit" name="action">
                    <i class="material-icons">send</i>
                  </button>
            </form>
        </div>
    </div>
<script src="/js/chat.js"></script>