<h1>Rant a bot</h1>
    <form class="form">
        <input class="input" autofocus>
        <input class="submit" type="submit">
    </form>
    <!-- <textarea name="messages" id="messages" class="messages" cols="30" rows="10"></textarea> -->
    <ul class="messages"></ul>
    <script src="/chat.js"></script>