<div class="container">
    <ul class="collapsible popout" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="material-icons">question_answer</i>This is a question</div>
          <div class="collapsible-body"><span>And this is an answer</span></div>
        </li>
    </ul>
</div>