<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/materialize.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rant-a-bot</title>
</head>
<body>
  <header>
    <nav class="row deep-purple darken-3">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo left"><i class="material-icons">home</i>rant-a-bot</a>
        <ul id="nav-mobile" class="right">
          <li><a href="#signInModal" class="waves-effect waves-light btn modal-trigger">Sign in</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <div class="container">
    <div class="section">
      <%- body %>
    </div>
    </div>
  </main>
  <footer class="page-footer deep-purple">
    <div class="footer-copyright">
      <div class="container">
      © 2020 rant-a-bot
      <a class="grey-text text-lighten-4 right" href="/faq">FAQ</a>
      </div>
    </div>
  </footer>

  <!-- Modal Structure Sign in -->
  <div id="signInModal" class="modal">
    <div class="modal-content">
      <h4>Sign in</h4>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="User name" id="user_name" type="text" class="validate">
              <label for="user_name">User Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
        </form>
        </div>
    </div>
    <div class="modal-footer row">
      <div class="col s4 left-align">
        <a href="#signUpModal" class="modal-action modal-close waves-effect waves-green btn-flat modal-trigger">Create an account</a>
      </div>
      <div class="col s4 center-align">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Dismiss</a>
      </div>
      <div class="col s4 right-align">
        <a href="#" class="waves-effect waves-light btn">Sign in</a>
      </div>      
    </div>
  </div>

  <!-- Modal Structure Sign up -->
  <div id="signUpModal" class="modal">
    <div class="modal-content">
      <h4>Sign up</h4>
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input placeholder="User name" id="signup_user_name" type="text" class="validate">
              <label for="user_name">User Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="signup_email" type="email" class="validate">
              <label for="signup_email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="signup_password" type="password" class="validate">
              <label for="signup_password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password_repeat" type="password" class="validate">
              <label for="password_repeat">Please repeat your password</label>
            </div>
          </div>
        </form>
        </div>
    </div>
    <div class="modal-footer row">
      <div class="col s4 left-align">
        <a href="#signInModal" class="modal-action modal-close waves-effect waves-green btn-flat modal-trigger">Sign in</a>
      </div>
      <div class="col s4 center-align">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Dismiss</a>
      </div>
      <div class="col s4 right-align">
        <a href="#" class="waves-effect waves-light btn">Create account</a>
      </div>      
    </div>
  </div>

  <script src="/js/materialize.min.js" type="text/javascript"></script>
  <script src="/js/app.js" type="text/javascript"></script>
</body>
</html>